//Cores
$primaryHtmlColor: #E44D26;
$secondaryHtmlColor: #F16529;
$primaryCssColor: #264DE4;
$secondaryCssColor: #2965F1;
$primaryJsColor: #E5A228;
$secondaryJsColor: #F1BF26;
$backgroundDefaultColor: #FFFFFF;
$fontDefaultColor: #000000;
$backgroundSecondaryColor: #000000;
$fontSecondaryColor: #FFFFFF;

//Gradientes
$gradienteHTML: linear-gradient(90deg, rgba(228, 77, 38, 0.8) 0%, rgba(241, 101, 41, 0.8) 100%);
$gradienteCSS: linear-gradient(90deg, rgba(38, 77, 228, 0.8) 0%, rgba(41, 101, 241, 0.8) 100%);
$gradienteJS: linear-gradient(90deg, rgba(229, 162, 40, 0.8) 0%, rgba(241, 191, 38, 0.8) 100%);
$gradienteLinks: linear-gradient(90deg, #BBBBBB 0%, #DDDDDD 100%);

$breakpoints: (
  xs: 0,        //Smartphones em modo retrato
  sm: 576px,    //Smartphones em modo paisagem ou Tablets em modo retrato
  md: 768px,    //Tablets em modo paisagem
  lg: 992px,    //Desktops
  xl: 1200px,   //Desktops com alta definição HD e FHD
  xxl: 2000px   //Desktops com ultra alta definição QHD e UHD
);

$colorsLikert: (
  1: #9E2731,        
  2: #D41314,
  3: #C75413,    
  4: #F8CA2E,    
  5: #C9E165,    
  6: #7ADC54,   
  7: #027F37   
);

*{
    font-family: Arial;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
    h1, h2, h3, p {
        margin-bottom: 0.8em;
    }
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header.flex-container-row div img{
    width: 50%;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu {
    justify-content: space-between;
    background-color: $backgroundSecondaryColor;
    color: $fontSecondaryColor;
    align-items: flex-start;
    a {
        color: $fontSecondaryColor;
        text-decoration: none;
    }
    ul {
        list-style-type: none;
    }
    li {
        margin: 35px;
        font-size: 30px
    }
}

.section-details {
    width: 70vw;
    padding: 3vw;
}

.alinharTop{
    align-items: flex-start;
}

.listaDeLinks{
    
    width: 30vw;
    ul {
        list-style-type: none;
        align-items: flex-start;
    }
    li{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    img{
        width: 50px;
        height: 50px;
    }
    a{
        margin: 0 20px;
        text-decoration: none;
        color: $fontDefaultColor;
    }
}

section {
    height: 75vh;
    text-align: center;
    overflow: hidden;
    font-weight: bold;

    h2{
        font-size: 40px;
    }

    h3{
        font-size: 27px;
    }

    ul{
        font-size: 18px;
    }
}
main {
    font-size: 23px;
    height: 75vh;
    text-align: center;
    overflow: hidden;
}

#Destaque {
    background-image: url("/Projeto\ Oficial/src/img/Destaque_o20.png") ;
    background-position: center;
    background-repeat: no-repeat;
}

#HTML {
    background: $gradienteHTML;
    p{
        font-size: 20px;
        text-align: justify;
    }
}

#CSS {
    background: $gradienteCSS;
    p{
        font-size: 20px;
        text-align: justify;
    }
}

#JavaScript {
    background: $gradienteJS;
    p{
        font-size: 20px;
        text-align: justify;
    }
}

#LinksUteis {
    background: $gradienteLinks;
}

#Rodape {
    background: $backgroundSecondaryColor;
    color: $fontSecondaryColor;
    justify-content: space-between;

    ul {
        list-style-type: none;
    }

    p, li{
        margin: 15px;
        font-size: 18px;
    }
}

.botao {
    background-color: $backgroundSecondaryColor;
    color: $fontSecondaryColor;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    width: 200px;
    font-weight: 900;
}

.destaqueHTML {
    color: $primaryHtmlColor;
}

.destaqueCSS {
    color: $primaryCssColor;
}

.destaqueJS {
    color: $primaryJsColor;
}


@media (orientation: landscape) {
    #Destaque {
        background-size: 110vw;
    }
    #InverterFlexBox{
        flex-direction: row-reverse;
    }
}
@media (orientation: portrait) {
    #Destaque {
        background-size: 200vw;
    }
}


//Smartphones em modo retrato
@media (min-width: map-get($breakpoints, xs))  and (orientation: portrait){
#Destaque{
    background-size: 235vw;
}

    #logo {
        width: 100px;
        height: 100px;
    }

    .menu{
        height: 49px;
        ul {
            height: 100px;
        }
        li{
            margin: 5px 10px 0px 10px;
        }

        a{
            font-size: 12px;
        }
    }

    .flex-container-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:flex-start;
    }

    header.flex-container-row div img{
        width: 50%;
    }

    main {
        font-size: 13px;
    }

    #imagens {
        width: 150px;
        height: 150px;
        align-items: center;
        justify-content: center;
        margin-left: 30%;
    }

    #HTML, #CSS, #JavaScript{
        p{
            font-size: 12px;
            margin-bottom: 20px;
        }
    }
    
    .section-details{
        margin-left: 15%;
    }

    section{
        h2{
            font-size: 26px;
        }
    
        h3{
            font-size: 15px;
        }

        ul{
            font-size: 10px;
        }
    }

    #LinksUteis{
        flex-direction: column;
        height: 40vh;
        li{
            width: 130%;
            align-items: flex-start;
        }
        h2{
            font-size: 20px;
        }
        h3{
            font-size: 14px
        }
    }

    .botao {
        padding: 12px 20px;
        border-radius: 15px;
        width: 140px;
        font-size: 11px;
    }

    #links {
        width: 12px;
        height: 12px;
    }

    #sociais{
        width: 25px;
        height: 25px;
    }

    #Rodape{
            p, li{
                margin: 10px;
                font-size: 13px;
            }
        }
}


// Smartphones em modo paisagem
@media (min-width: map-get($breakpoints, sm)) and (orientation: landscape){
    #logo {
        width: 145px;
        height: 145px;
    }

    section{
        align-items: center !important;
        justify-content: center;

    }

    .menu{
        height: 75px;
        ul {
            height: 100px;
        }
        li{
            margin: 20px;
        }
        a{
            
            font-size: 16px;
        }
    }

    .flex-container-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:flex-start;
    }

    header.flex-container-row div img{
        width: 50%;
    }

    main {
        font-size: 15px;
    }

    #imagens {
        width: 180px;
        height: 180px;
        align-items: center;
    }

    #HTML, #CSS, #JavaScript{
        p{
            font-size: 12px;
        }
    }

    section{
        h2{
            font-size: 26px;
        }
    
        h3{
            font-size: 18px;
        }

        ul{
            font-size: 11px;
        }
    }

    .botao {
        padding: 12px 20px;
        border-radius: 15px;
        width: 140px;
        font-size: 11px;
    }

    #links {
        width: 30px;
        height: 30px;
    }

    #sociais{
        width: 25px;
        height: 25px;
    }

    #Rodape{
            p, li{
                margin: 10px;
                font-size: 13px;
            }
        }
}

// Tablets em modo retrato
@media (min-width: map-get($breakpoints, sm))  and (orientation: portrait){
    #logo {
        width: 145px;
        height: 145px;
    }

    section{
        align-items: center;
        justify-content: center;

    }

    #InverterFlexBox{
        flex-direction: row-reverse;
    }

    .menu{
        height: 75px;
        ul {
            height: 100px;
        }
        li{
            margin: 20px;
        }
        a{
            
            font-size: 16px;
        }
    }

    .flex-container-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:flex-start;
    }

    header.flex-container-row div img{
        width: 50%;
    }

    main {
        font-size: 15px;
    }

    #imagens {
        margin-left: 210px;
        margin-right: 210px;
        width: 150px;
        height: 150px;
        align-items: center;

    }

    #HTML, #CSS, #JavaScript{
        p{
            font-size: 12px;
        }
    }

    section{
        h2{
            font-size: 26px;
        }
    
        h3{
            font-size: 18px;
        }

        ul{
            font-size: 11px;
        }
    }

    .section-details{
        margin-left: 90px;
        margin-right: 90px;
    }

    .botao {
        padding: 12px 20px;
        border-radius: 15px;
        width: 140px;
        font-size: 11px;
    }

    #links {
        width: 30px;
        height: 30px;
    }

    #sociais{
        width: 25px;
        height: 25px;
    }

    #Rodape{
            p, li{
                margin: 10px;
                font-size: 13px;
            }
        }
}

//Tablets em modo paisagem
@media (min-width: map-get($breakpoints, md)) and (orientation: landscape) {
    #logo {
        width: 174px;
        height: 174px;
    }

    .menu{
        height: 90px;
        ul {
            height: 100px;
            margin-top: 8px;
        }
        a{
            font-size: 20px;
        }
    }

    main {
        font-size: 19px;
    }

    #imagens {
        width: 150px;
        height: 150px;
    }

    #HTML, #CSS, #JavaScript{
        p{
            font-size: 15px;
        }
    }

    section{
        h2{
            font-size: 30px;
        }
    
        h3{
            font-size: 22px;
        }

        ul{
            font-size: 14.5px;
        }
    }

    .botao {
        padding: 12px 50px;
        border-radius: 15px;
        width: 170px;
        font-size: 13px;
    }

    #links {
        width: 37px;
        height: 37px;
    }

    #sociais{
        width: 28.5px;
        height: 28.5px;
    }

    #Rodape{
            p, li{
                margin: 10px;
                font-size: 14.5px;
            }
        }
}

//Desktops
@media (min-width: map-get($breakpoints, lg)) {
    #logo {
        width: 180px;
        height: 180px;
    }

    .menu{
        height: 90px;
        ul {
            height: 100px;
            margin-top: 7px;
        }
        a{
            font-size: 21px;
        }
    }

    main {
        font-size: 20px;
    }

    #imagens {
        width: 180px;
        height: 180px;
    }

    #HTML, #CSS, #JavaScript{
        p{
            font-size: 17px;
        }
    }

    section{
        h2{
            font-size: 40px;
        }
    
        h3{
            font-size: 27px;
        }

        ul{
            font-size: 18px;
        }
    }

    .botao {
        padding: 14px 50px;
        border-radius: 15px;
        width: 190px;
        font-size: 15px;
    }

    #links {
        width: 40px;
        height: 40px;
    }

    #sociais{
        width: 35px;
        height: 35px;
    }

    #Rodape{
            p, li{
                margin: 10px;
                font-size: 17px;
            }
        }
}

//Desktops com alta definição HD e FHD
@media (min-width: map-get($breakpoints, xl)) {
    #sociais{
        width: 40px;
        height: 40px;
    }

    .menu{
        height: 90px;
        ul {
            margin-top: 10px ;
            height: 100px;
        }
        a{
            font-size: 28px;
        }
    }
}

//Desktops com ultra alta definição QHD e UHD
@media (min-width: map-get($breakpoints, xxl)) {
    #HTML, #CSS, #JavaScript{
        p{
            font-size: 30px;
        }
    }

    #sociais{
        width: 60px;
        height: 60px;
    }

    #logo {
        width: 400px;
        height: 400px;
    }

    #imagens {
        width: 450px;
        height: 450px;
    }

    #links {
        width: 85px;
        height: 85px;
    }

    .botao {
        padding: 15px 25px;
        border-radius: 10px;
        width: 320px;
        font-size: 35px;
    }

    .menu{
        height: 200px;
        ul {
            height: 200px;
            margin-top: 45px;
        }
        a{
            font-size: 55px;
        }
    }

    main {
        font-size: 45px;
    }

    section{
        h2{
            font-size: 75px;
        }
    
        h3{
            font-size: 45px;
        }

        ul{
            font-size: 30px;
        }
    }

    #Rodape{
        p, li{
            margin: 20px;
            font-size: 35px;
        }
    }
}