* {
  font-family: Arial;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* h1, * h2, * h3, * p {
  margin-bottom: 0.8em;
}

.flex-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.flex-container-row div img {
  width: 50%;
}

.flex-container-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000000;
  color: #FFFFFF;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu a {
  color: #FFFFFF;
  text-decoration: none;
}

.menu ul {
  list-style-type: none;
}

.menu li {
  margin: 35px;
  font-size: 30px;
}

.section-details {
  width: 70vw;
  padding: 3vw;
}

.alinharTop {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.listaDeLinks {
  width: 30vw;
}

.listaDeLinks ul {
  list-style-type: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.listaDeLinks li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.listaDeLinks img {
  width: 50px;
  height: 50px;
}

.listaDeLinks a {
  margin: 0 20px;
  text-decoration: none;
  color: #000000;
}

section {
  height: 75vh;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
}

section h2 {
  font-size: 40px;
}

section h3 {
  font-size: 27px;
}

section ul {
  font-size: 18px;
}

main {
  font-size: 23px;
  height: 75vh;
  text-align: center;
  overflow: hidden;
}

#Destaque {
  background-image: url("/Projeto Oficial/src/img/Destaque_o20.png");
  background-position: center;
  background-repeat: no-repeat;
}

#HTML {
  background: -webkit-gradient(linear, left top, right top, from(rgba(228, 77, 38, 0.8)), to(rgba(241, 101, 41, 0.8)));
  background: linear-gradient(90deg, rgba(228, 77, 38, 0.8) 0%, rgba(241, 101, 41, 0.8) 100%);
}

#HTML p {
  font-size: 20px;
  text-align: justify;
}

#CSS {
  background: -webkit-gradient(linear, left top, right top, from(rgba(38, 77, 228, 0.8)), to(rgba(41, 101, 241, 0.8)));
  background: linear-gradient(90deg, rgba(38, 77, 228, 0.8) 0%, rgba(41, 101, 241, 0.8) 100%);
}

#CSS p {
  font-size: 20px;
  text-align: justify;
}

#JavaScript {
  background: -webkit-gradient(linear, left top, right top, from(rgba(229, 162, 40, 0.8)), to(rgba(241, 191, 38, 0.8)));
  background: linear-gradient(90deg, rgba(229, 162, 40, 0.8) 0%, rgba(241, 191, 38, 0.8) 100%);
}

#JavaScript p {
  font-size: 20px;
  text-align: justify;
}

#LinksUteis {
  background: -webkit-gradient(linear, left top, right top, from(#BBBBBB), to(#DDDDDD));
  background: linear-gradient(90deg, #BBBBBB 0%, #DDDDDD 100%);
}

#Rodape {
  background: #000000;
  color: #FFFFFF;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Rodape ul {
  list-style-type: none;
}

#Rodape p, #Rodape li {
  margin: 15px;
  font-size: 18px;
}

.botao {
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  width: 200px;
  font-weight: 900;
}

.destaqueHTML {
  color: #E44D26;
}

.destaqueCSS {
  color: #264DE4;
}

.destaqueJS {
  color: #E5A228;
}

@media (orientation: landscape) {
  #Destaque {
    background-size: 110vw;
  }
  #InverterFlexBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (orientation: portrait) {
  #Destaque {
    background-size: 200vw;
  }
}

@media (min-width: 0) and (orientation: portrait) {
  #Destaque {
    background-size: 235vw;
  }
  #logo {
    width: 100px;
    height: 100px;
  }
  .menu {
    height: 49px;
  }
  .menu ul {
    height: 100px;
  }
  .menu li {
    margin: 5px 10px 0px 10px;
  }
  .menu a {
    font-size: 12px;
  }
  .flex-container-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header.flex-container-row div img {
    width: 50%;
  }
  main {
    font-size: 13px;
  }
  #imagens {
    width: 150px;
    height: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 30%;
  }
  #HTML p, #CSS p, #JavaScript p {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .section-details {
    margin-left: 15%;
  }
  section h2 {
    font-size: 26px;
  }
  section h3 {
    font-size: 15px;
  }
  section ul {
    font-size: 10px;
  }
  #LinksUteis {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 40vh;
  }
  #LinksUteis li {
    width: 130%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #LinksUteis h2 {
    font-size: 20px;
  }
  #LinksUteis h3 {
    font-size: 14px;
  }
  .botao {
    padding: 12px 20px;
    border-radius: 15px;
    width: 140px;
    font-size: 11px;
  }
  #links {
    width: 12px;
    height: 12px;
  }
  #sociais {
    width: 25px;
    height: 25px;
  }
  #Rodape p, #Rodape li {
    margin: 10px;
    font-size: 13px;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  #logo {
    width: 145px;
    height: 145px;
  }
  section {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu {
    height: 75px;
  }
  .menu ul {
    height: 100px;
  }
  .menu li {
    margin: 20px;
  }
  .menu a {
    font-size: 16px;
  }
  .flex-container-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header.flex-container-row div img {
    width: 50%;
  }
  main {
    font-size: 15px;
  }
  #imagens {
    width: 180px;
    height: 180px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #HTML p, #CSS p, #JavaScript p {
    font-size: 12px;
  }
  section h2 {
    font-size: 26px;
  }
  section h3 {
    font-size: 18px;
  }
  section ul {
    font-size: 11px;
  }
  .botao {
    padding: 12px 20px;
    border-radius: 15px;
    width: 140px;
    font-size: 11px;
  }
  #links {
    width: 30px;
    height: 30px;
  }
  #sociais {
    width: 25px;
    height: 25px;
  }
  #Rodape p, #Rodape li {
    margin: 10px;
    font-size: 13px;
  }
}

@media (min-width: 576px) and (orientation: portrait) {
  #logo {
    width: 145px;
    height: 145px;
  }
  section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #InverterFlexBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .menu {
    height: 75px;
  }
  .menu ul {
    height: 100px;
  }
  .menu li {
    margin: 20px;
  }
  .menu a {
    font-size: 16px;
  }
  .flex-container-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header.flex-container-row div img {
    width: 50%;
  }
  main {
    font-size: 15px;
  }
  #imagens {
    margin-left: 210px;
    margin-right: 210px;
    width: 150px;
    height: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #HTML p, #CSS p, #JavaScript p {
    font-size: 12px;
  }
  section h2 {
    font-size: 26px;
  }
  section h3 {
    font-size: 18px;
  }
  section ul {
    font-size: 11px;
  }
  .section-details {
    margin-left: 90px;
    margin-right: 90px;
  }
  .botao {
    padding: 12px 20px;
    border-radius: 15px;
    width: 140px;
    font-size: 11px;
  }
  #links {
    width: 30px;
    height: 30px;
  }
  #sociais {
    width: 25px;
    height: 25px;
  }
  #Rodape p, #Rodape li {
    margin: 10px;
    font-size: 13px;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  #logo {
    width: 174px;
    height: 174px;
  }
  .menu {
    height: 90px;
  }
  .menu ul {
    height: 100px;
    margin-top: 8px;
  }
  .menu a {
    font-size: 20px;
  }
  main {
    font-size: 19px;
  }
  #imagens {
    width: 150px;
    height: 150px;
  }
  #HTML p, #CSS p, #JavaScript p {
    font-size: 15px;
  }
  section h2 {
    font-size: 30px;
  }
  section h3 {
    font-size: 22px;
  }
  section ul {
    font-size: 14.5px;
  }
  .botao {
    padding: 12px 50px;
    border-radius: 15px;
    width: 170px;
    font-size: 13px;
  }
  #links {
    width: 37px;
    height: 37px;
  }
  #sociais {
    width: 28.5px;
    height: 28.5px;
  }
  #Rodape p, #Rodape li {
    margin: 10px;
    font-size: 14.5px;
  }
}

@media (min-width: 992px) {
  #logo {
    width: 180px;
    height: 180px;
  }
  .menu {
    height: 90px;
  }
  .menu ul {
    height: 100px;
    margin-top: 7px;
  }
  .menu a {
    font-size: 21px;
  }
  main {
    font-size: 20px;
  }
  #imagens {
    width: 180px;
    height: 180px;
  }
  #HTML p, #CSS p, #JavaScript p {
    font-size: 17px;
  }
  section h2 {
    font-size: 40px;
  }
  section h3 {
    font-size: 27px;
  }
  section ul {
    font-size: 18px;
  }
  .botao {
    padding: 14px 50px;
    border-radius: 15px;
    width: 190px;
    font-size: 15px;
  }
  #links {
    width: 40px;
    height: 40px;
  }
  #sociais {
    width: 35px;
    height: 35px;
  }
  #Rodape p, #Rodape li {
    margin: 10px;
    font-size: 17px;
  }
}

@media (min-width: 1200px) {
  #sociais {
    width: 40px;
    height: 40px;
  }
  .menu {
    height: 90px;
  }
  .menu ul {
    margin-top: 10px;
    height: 100px;
  }
  .menu a {
    font-size: 28px;
  }
}

@media (min-width: 2000px) {
  #HTML p, #CSS p, #JavaScript p {
    font-size: 30px;
  }
  #sociais {
    width: 60px;
    height: 60px;
  }
  #logo {
    width: 400px;
    height: 400px;
  }
  #imagens {
    width: 450px;
    height: 450px;
  }
  #links {
    width: 85px;
    height: 85px;
  }
  .botao {
    padding: 15px 25px;
    border-radius: 10px;
    width: 320px;
    font-size: 35px;
  }
  .menu {
    height: 200px;
  }
  .menu ul {
    height: 200px;
    margin-top: 45px;
  }
  .menu a {
    font-size: 55px;
  }
  main {
    font-size: 45px;
  }
  section h2 {
    font-size: 75px;
  }
  section h3 {
    font-size: 45px;
  }
  section ul {
    font-size: 30px;
  }
  #Rodape p, #Rodape li {
    margin: 20px;
    font-size: 35px;
  }
}
/*# sourceMappingURL=style.css.map */